<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
<link rel='preconnect dns-prefetch' href='https://api.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://conf.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://whale.camera/' crossorigin />
<script>
/* >> TriplePixel :: start*/
window.TriplePixelData={TripleName:"howlsupply.myshopify.com",ver:"2.11",plat:"SHOPIFY",isHeadless:false},function(W,H,A,L,E,_,B,N){function O(U,T,P,H,R){void 0===R&&(R=!1),H=new XMLHttpRequest,P?(H.open("POST",U,!0),H.setRequestHeader("Content-Type","application/json")):H.open("GET",U,!0),H.send(JSON.stringify(P||{})),H.onreadystatechange=function(){4===H.readyState&&200===H.status?(R=H.responseText,U.includes(".txt")?eval(R):P||(N[B]=R)):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(U,T-1,P))}}if(N=window,!N[H+"sn"]){N[H+"sn"]=1,L=function(){return Date.now().toString(36)+"_"+Math.random().toString(36)};try{A.setItem(H,1+(0|A.getItem(H)||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push({u:location.href,r:document.referrer,t:Date.now(),id:L()}),A.setItem(H+"U",JSON.stringify(E))}catch(e){}var i,m,p;A.getItem('"!nC`')||(_=A,A=N,A[H]||(E=A[H]=function(t,e,a){return void 0===a&&(a=[]),"State"==t?E.s:(W=L(),(E._q=E._q||[]).push([W,t,e].concat(a)),W)},E.s="Installed",E._q=[],E.ch=W,B="configSecurityConfModel",N[B]=1,O("https://conf.config-security.com/model",5),i=L(),m=A[atob("c2NyZWVu")],_.setItem("di_pmt_wt",i),p={id:i,action:"profile",avatar:_.getItem("auth-security_rand_salt_"),time:m[atob("d2lkdGg=")]+":"+m[atob("aGVpZ2h0")],host:A.TriplePixelData.TripleName,plat:A.TriplePixelData.plat,url:window.location.href,ref:document.referrer,ver:A.TriplePixelData.ver},O("https://api.config-security.com/event",5,p),O("https://whale.camera/live/dot.txt",5)))}}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>

  <meta name="theme-color" content="{{ settings.color_nav_bg }}">

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}">

  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
 <!-- firstwire -->
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  {{ 'slideshow.css' | asset_url | stylesheet_tag }}
  {{ 'jquery.slideshow.js' | asset_url | script_tag }}
  {{ 'jquery.marquee.js' | asset_url | script_tag }}
  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'howl2020.scss.css' | asset_url | stylesheet_tag }}
 

  <script>
    window.theme = window.theme || {};
    theme.strings = {
      cartEmpty: {{ 'cart.general.empty' | t | json }},
      savingHtml: {{ 'cart.general.savings_html' | t: price: '[savings]' | json }},
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      addressError: {{ 'map.address_error' | t | json }},
      addressNoResults: {{ 'map.address_no_results' | t | json }},
      addressQueryLimit: {{ 'map.address_query_limit_html' | t | json }},
      authError: {{ 'map.auth_error_html' | t | json }}
    };
    theme.settings = {
      cartType: {{ settings.cart_type | json }},
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->

  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'option_selection.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'option_selection.js' | shopify_asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  {{ content_for_header }}



<!-- GSSTART Coming Soon code start. Do not change -->
<script type="text/javascript"> gsProductByVariant = {}; {% if product.id > 1 %}{% for variant in product.variants %} gsProductByVariant[{{variant.id}}] = {% if variant.available %} 1 {% else %} 0 {% endif %}; {% endfor %}{% endif %}  gsProductCSID = "{{ product.id }}"; gsDefaultV = "{{ product.selected_or_first_available_variant.id }}"; </script><script type="text/javascript" src="https://gravity-software.com/js/shopify/pac_shop635.js?v=gs{{ shop.metafields["gscode"]["gsimages"] }}xx"></script>
<!-- Coming Soon code end. Do not change GSEND -->
<meta name="google-site-verification" content="9hhZttqUfRBXwpSQmAK1kxuD3QgKxfTF4RsJqrYbsfk" />
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  {% section 'header' %}


  <div id="SearchDrawer" class="search-bar drawer drawer--top">
    <div class="search-bar__table">
      <form action="/search" method="get" class="search-bar__table-cell search-bar__form" role="search">
        <div class="search-bar__table frm_sctn">
          <div class="search-bar__table-cell search_txt">
            <input type="search" id="SearchInput" name="q" value="{{ search.terms | escape }}" placeholder="Search" aria-label="{{ 'general.search.placeholder' | t }}" class="search-bar__input">
          </div>
          <div class="search-bar__table-cell search-bar__icon-cell search_sbt">
            <button type="submit" class="search-bar__icon-button search-bar__submit">
              <span class="icon icon-search" aria-hidden="true"></span>
              <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
            </button>
          </div>
          
        </div>
      </form>
    <!--  <div class="search-bar__table-cell text-right">
        <button type="button" class="search-bar__icon-button search-bar__close js-drawer-close">
          <span class="icon icon-x" aria-hidden="true"></span>
          <span class="icon__fallback-text">{{ 'general.search.close_search' | t }}</span>
        </button>
      </div>-->
    </div>
  </div>
  
  {% comment %}
  <div id="NavDrawer" class="drawer drawer--left">
  {% section 'sidebar-menu' %}
  </div>
  {% endcomment %}
  
  
<div id="CartDrawer" class="drawer drawer--right drawer--has-fixed-footer">
  <div class="drawer__header">
    <ul class="menu">
      <li>Your Bag</li>
      <li><a href="#" id="cart-close--trigger">Close</a></li>
    </ul>
  </div>
  <div class="drawer__inner">
    <div id="CartContainer">
    </div>
  </div> 
</div>
  

  
  

  <div id="PageContainer">

    {% comment %}{% section 'announcement-bar' %}

    {% unless template.name == "index" %}
      <div class="site-header-wrapper">
        <div class="site-header-container">
          <span class="vyh">{% include 'breadcrumbs' %}</span>
          <div class="action-area">
            {% unless template.name == 'product' or template.name == 'search' or template.name == 'index' %}
              {% include 'action-bar' %}
            {% endunless %}

            {% if template.name == 'search' and search.performed %}
              <div class="action-bar">
                <div class="search__results-count">
                  {{ 'general.search.results_with_count' | t: count: search.results_count, term: search.terms }}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endunless %}{% endcomment %}

    <main class="main-content" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

  </div>

  {% comment %}
    Enable ajax cart drawer
  {% endcomment %}
  {% if settings.cart_type == 'drawer' %}
    <script id="CartTemplate" type="text/template">
      {% raw %}
        <form action="/cart" method="post" novalidate class="cart ajaxcart">
          <div class="ajaxcart__inner ajaxcart__inner--has-fixed-footer">

            {{#items}}
            
            <div class="ajaxcart__row">
              <div class="ajaxcart__product" data-line="{{line}}">
                
                <div class="ajaxcart__product-image">
                  <a href="{{url}}"><img src="{{img}}" alt="{{name}}" class="objfit"></a>
                </div>

                <div class="ajaxcart__row-name">
                  <div class="ajaxcart__product-name-wrapper">
                    <a href="{{url}}" class="ajaxcart__product-name">{{name}}</a>
                  </div>
                  <div class="ajaxcart__product-meta-wrapper">
                    {{#if varopt1}}
                      <span class="ajaxcart__product-meta">Color - <span class="value">{{varopt1}}</span></span>
                    {{/if}}
                    {{#if varopt2}}
                      <span class="ajaxcart__product-meta">Size - <span class="value">{{varopt2}}</span></span>
                    {{/if}}

                    {{!--

                    {{#if variation}}
                      <span class="ajaxcart__product-meta">- {{variation}}</span>
                    {{/if}}
                    {{#properties}}
                      {{#each this}}
                        {{#if this}}
                          <span class="ajaxcart__product-meta">{{@key}}: {{this}}</span>
                        {{/if}}
                      {{/each}}
                    {{/properties}}

                    --}}

                  </div>
                </div>


                <div class="ajaxcart__row-price">
                  {{#if discountsApplied}}
                    <small class="ajaxcart-item__price-strikethrough"><s>{{{originalLinePrice}}}</s></small>
                    <br><span>{{{linePrice}}}</span>
                  {{else}}
                     <span>{{{linePrice}}}</span>
                  {{/if}}


                  <div class="ajaxcart__row-quantity">
                    <div class="ajaxcart__qty">
                      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus" data-id="{{key}}" data-qty="{{itemMinus}}" data-line="{{line}}" aria-label="{% endraw %}{{ 'cart.label.reduce_quantity' | t }}{% raw %}">
                        <span class="icon icon-minus" aria-hidden="true"></span>
                        <span class="icon__fallback-text" aria-hidden="true">&minus;</span>
                      </button>
                      <input type="text" name="updates[]" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{key}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
                      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}" aria-label="{% endraw %}{{ 'cart.label.increase_quantity' | t }}{% raw %}">
                        <span class="icon icon-plus" aria-hidden="true"></span>
                        <span class="icon__fallback-text" aria-hidden="true">+</span>
                      </button>
                    </div>
                  </div>

                </div>

                {{#if discountsApplied}}
                  <div class="grid grid--table">
                    <div class="grid__item text-right">
                      {{#each discounts}}
                        <small class="ajaxcart-item__discount">{{ this.title }}</small><br>
                      {{/each}}
                    </div>
                  </div>
                {{/if}}
              </div>
            </div>

            {{/items}}

            {% endraw %}{% if settings.cart_notes_enable %}{% raw %}
              <div class="ajaxcart__row">
                <label for="CartSpecialInstructions" class="ajaxcart__note txt--minor">{% endraw %}{{ 'cart.general.note' | t }}{% raw %}</label>
                <textarea name="note" class="input-full" id="CartSpecialInstructions">{{note}}</textarea>
              </div>
            {% endraw %}{% endif %}{% raw %}
          </div>
          
       
          <div class="ajaxcart__footer ajaxcart__footer--fixed">

            <div class="rewards">
              {{#if rewardsCondition}}
                <p class="rewards-message">Free Shipping will be applied at checkout</p>
              {{else}}
                <p class="rewards-message">You are {{ rewardsBalance }} away from free shipping</p>
                <div class="rewards-progress-bar">
                  <div class="rewards-progress" style="width: {{ rewardsBalancePercent }}%;"></div>
                </div>
              {{/if}}
            </div>

            <div class="ajaxcart__subtotal">
              <div class="ajaxcart__totals grid grid--table">
                <div class="grid__item two-thirds">
                  <span class="cart_qty">Subtotal</span>
                </div>
                <div class="grid__item one-third text-right">
                  <span>{{{totalPrice}}}</span>
                </div>
              </div>
              {{#if totalCartDiscountApplied}}
                <p class="ajaxcart__savings text-center"><em>{{{totalCartDiscount}}}</em></p>
              {{/if}}
            </div>

            <button type="submit" class="btn btn--full cart__checkout cart--btn" name="checkout">Secure Checkout</button>

            <p class="shipping-note text-center">Shipping, taxes, and discounts calculated at checkout</p>

          </div>
         
          
        </form>
      {% endraw %}
    </script>
  
  
    <script id="JsQty" type="text/template">
      {% raw %}
        <div class="js-qty">
          <button type="button" class="js-qty__adjust js-qty__adjust--minus" data-id="{{key}}" data-qty="{{itemMinus}}" aria-label="{% endraw %}{{ 'cart.label.reduce_quantity' | t }}{% raw %}">
            <span class="icon icon-minus" aria-hidden="true"></span>
            <span class="icon__fallback-text" aria-hidden="true">&minus;</span>
          </button>
          <input type="text" class="js-qty__num" value="{{itemQty}}" min="1" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
          <button type="button" class="js-qty__adjust js-qty__adjust--plus" data-id="{{key}}" data-qty="{{itemAdd}}" aria-label="{% endraw %}{{ 'cart.label.increase_quantity' | t }}{% raw %}">
            <span class="icon icon-plus" aria-hidden="true"></span>
            <span class="icon__fallback-text" aria-hidden="true">+</span>
          </button>
        </div>
      {% endraw %}
    </script>

  {% endif %}

  <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>

  {{ 'howl2020.js' | asset_url | script_tag }}

  {% include 'bg-overlay' %}
  {% include 'shop-menu' %}
  {% include 'header-search-bar' %}

  {% comment %}
  {% render 'linked-options' %}
  {% endcomment %}
  {% render 'spurit_dmr_theme_snippet' %}
  {% include 'free-shipping-threshold' %}
</body>
</html>
<script>
/*$('#scroll_news').marquee('smooth_m').mouseover(function () {
  $(this).trigger('stop');
}).mouseout(function () {
  $(this).trigger('start');
}).mousemove(function (event) {
  if ($(this).data('drag') == true) {
    this.scrollLeft = $(this).data('scrollX') + ($(this).data('x') - event.clientX);
  }
}).mousedown(function (event) {
  $(this).data('drag', true).data('x', event.clientX).data('scrollX', this.scrollLeft);
}).mouseup(function () {
  $(this).data('drag', false);
});
});*/
</script>